#app {
    background: url(@/assets/images/coffee.jpg) no-repeat center;
    background-size: cover;
}

.container {
    min-height: 100vh;
    padding-top: 80px !important;
    padding-bottom: 200px !important;
}

.v-footer {
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
}
