.v-footer {
    position: relative;
    z-index: 99999;
    width: 100%;

    .v-btn-group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        .v-btn {
            height: auto !important;
            padding: 20px !important;
        }
    }
}

.basket-footer {
    width: 100%;
    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        & > * {
            padding: 20px;
            text-align: center;
            height: 100%;
        }
    }
    .basket {
        h4 {
            margin-bottom: 10px;
            background-color: $light-yellow;
            padding: 10px;
            border-radius: 10px;
        }
        & > p {
            margin: 0;
            & ~ p {
                margin-top: 10px;
            }
            span {
                position: relative;
            }
        }
        .delete-btn {
            width: 16px;
            height: 16px;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
        }
    }
}
