.v-footer {
    div:has(.basket-footer) {
        width: 100%;
    }
}

.basket-footer {
    width: 100%;
    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        & > * {
            padding: 20px;
            text-align: center;
            height: 100%;
        }
    }
    .basket {
        & > p {
            margin: 0;
            & ~ p {
                margin-top: 10px;
            }
            span {
                position: relative;
            }
        }
        .delete-btn {
            width: 16px;
            height: 16px;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
        }
    }
}
